{
    "extends": [
      "airbnb",
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "env": {
      "node": true,
      "es6": true,
      "browser": true,
      "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "plugins": [
      "react"
    ],
    "rules":  {
      "no-console":"off",
      "jsx-a11y/label-has-for": [ 2, {
          "required": {
              "every": [ "id" ]
          }
      }],
      "react/require-default-props": "off",
      "no-unused-vars":"warn"
    }
}